body {  min-width:290px; }

.nomargin{
    margin: 0px;
}

.quechua_logo{
    background: center / contain no-repeat url('../img/quechua_logo.png');
}
/*NAV CSS*/

nav {
    width: 100%;
    height:auto;
}

nav > * {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul > * {
    display:inline-block;
}

li > p {
    text-align: center;
}

.separator {
    background-color: aqua;
    clip-path: polygon(89% 2%, 45% 100%, 76% 100%);
    width: 60px;
    height: 40px;
}

.sep_nav_menu {
    clip-path: inset(0 0 0 0);
    background-color: aqua;
    width: 10px;
    height: 50px;
}

#classic_menu ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#classic_menu ul.items_classic_menu{
    width:100%;
}

#classic_menu ul.icons_classic_menu{
    align-items: center;
    justify-content: space-evenly;
}

#classic_menu ul.icons_classic_menu i{
    text-align: center;
}

#classic_menu ul.icons_classic_menu p{
    font-size: 0.9vw;
}

/*NAV CSS BY SIZE*/

@media (max-width: 767px){
    #classic_menu{
        display: none;
    }
}

@media (min-width: 768px){
    #classic_menu{
        display: flex;
    }

    #mobile_menu{
        display: none;
    }
}

/*NAV ANIMATION*/
@keyframes rotation_burger_icon {
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(180deg); 
    }
  }