body {  min-width:290px; }

.nomargin{
    margin: 0px;
}

.quechua_logo{
    background: center / contain no-repeat url('../img/quechua_logo.png');
}
/*NAV CSS*/

nav {
    width: 100%;
    height:auto;
}

nav > * {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul > * {
    display:inline-block;
}

li > p {
    text-align: center;
}

.separator {
    background-color: aqua;
    clip-path: polygon(89% 2%, 45% 100%, 76% 100%);
    width: 60px;
    height: 40px;
}

.sep_nav_menu {
    clip-path: inset(0 0 0 0);
    background-color: aqua;
    width: 10px;
    height: 50px;
}

#classic_menu{
    background-color: white;
}

#classic_menu ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#classic_menu ul.items_classic_menu{
    width:100%;
}

#classic_menu ul.icons_classic_menu{
    align-items: center;
    justify-content: space-evenly;
}

#classic_menu ul.icons_classic_menu i{
    text-align: center;
}

#classic_menu ul.icons_classic_menu p{
    font-size: 0.9vw;
}

#sidemenu{
    width:90%;
    height: 100vh;
    background-color:white;
    border-right: solid 2px #000;
    position:fixed;
    left:-90%;
}

#sidemenu_blur{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0;
}
/*NAV CSS BY SIZE*/

@media (max-width: 767px){
    #classic_menu{
        display: none;
    }
}

@media (min-width: 768px){
    #classic_menu{
        display: flex;
    }

    #mobile_menu,#sidemenu{
        display: none;
    }
}

/*NAV ANIMATION*/

.animation_rotate_icon{
    animation: 0.5s linear 0s rotation_burger_icon;
    animation-fill-mode: forwards;
}

.animation_open_sidemenu{
    animation: 0.5s linear 0s open_sidemenu;
    animation-fill-mode: forwards;
}

.animation_close_sidemenu{
    animation: 0.5s linear 0s close_sidemenu;
    animation-fill-mode: forwards;
}

.animation_active_bg_blur{
    animation: 0.5s linear 0s active_bg_blur;
    animation-fill-mode: forwards;
}

.animation_desactive_bg_blur{
    animation: 0.5s linear 0s desactive_bg_blur;
    animation-fill-mode: forwards;
}

@keyframes rotation_burger_icon {
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(180deg); 
    }
}

@keyframes open_sidemenu{
    from { 
        left: -90%;
    } to { 
        left: 0%; 
    }
}

@keyframes close_sidemenu{
    from { 
        left: 0%;
    } to { 
        left: -90%; 
    }
}

@keyframes active_bg_blur{
    from { 
        opacity: 0;
    } to { 
        opacity: 0.4; 
    }
}

@keyframes desactive_bg_blur{
    from { 
        opacity: 0.4;
    } to { 
        opacity: 0; 
    }
}